/* Reset dasar */
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #2C3E50; /* Darkish blue background */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper utama */
.App {
    width: 100%;
    max-width: 400px; /* Ukuran maksimal form */
    padding: 20px;
    text-align: center;
}

/* Container untuk form */
.form-container {
    background: #09233b; /* Lighter blue color for the container */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

/* Heading */
.form-container h1 {
    font-size: 24px;
    color: #5F9EA0;
    margin-bottom: 15px;
}

/* Input field */
input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    background: #f9fafb;
    color: #333333;
}

/* Fokus pada input */
input:focus {
    border-color: #2563eb; /* Biru cerah */
    outline: none;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}

/* Tombol */
.btn {
    width: 100%;
    padding: 12px;
    background: #1e40af; /* Warna biru */
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: #0f2466; /* Warna biru gelap saat hover */
}

/* Link */
a {
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Pesan di bawah */
p {
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
}

.btn2 {
	    width: 100%;
    padding: 12px;
	background: #303030; /* Warna biru */
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.back-btn {
	width: 100%;
	padding: 12px;